@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 13, 13;
  --background-end-rgb: 13, 13, 13;
  --primary-color: 244, 67, 54;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #f44336;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d32f2f;
}
